<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="application/pdf;charset=UTF-8"/>
    <style media="print">
        @page {
            margin: 0mm 1mm 0mm 1mm;
            size: portrait;
        }
    </style>
    <style type="text/css">  
      table {
            font-size: 20px;
            border-collapse: collapse;
            text-align: center;
            margin: 0 auto;
        }

        .al {
            width: 210mm;
            margin-left: 1px;
            margin-right: 1px;
        }

        body {
            text-align: center;
            margin: 1px;
            font-size: 10px;
        }
    </style>
</head>
<body id="all" class="al">
<div style="margin:0 auto;border:0px solid #000;width:210mm">
    <h2 th:text="宝贝焕新"></h2>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;" th:text="'单号:' + ${nursing.code}"></p>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;" th:text="'创建时间:' + ${nursing.createDate}"></p>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;" th:text="'当前状态:' + ${nursing.statusMean}"></p>
    <hr style="margin-top: 1px;margin-bottom: 1px;"/>
    <table style="width:100%">
        <thead>
        <tr>
            <th>品类</th>
            <th>单价</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goods : ${goodsList}">
            <td th:text="${goods.categoryName}"></td>
            <td th:text="${goods.categoryPrice}"></td>
        </tr>
        </tbody>
    </table>
    <hr style="margin-top:1px;margin-bottom:1px;"/>
    <table style="width:100%">
        <thead>
        <tr>
            <th>小计</th>
            <th th:text="${totalGoodsCount}"></th>
            <th th:text="${totalGoodsAmount} + '元'"></th>
        </tr>
        </thead>
    </table>
</div>
<script>
    window.print()
</script>
</body>
</html>