<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <style media="print">
        @page {
            margin: 0mm 1mm 0mm 1mm;
            size: portrait;
        }
    </style>
    <style type="text/css">  
      table {
        font-size: 20px;
        border-collapse: collapse;
        text-align: center;
        margin: 0 auto;
    }

    .al {
        width: 78mm;
        margin-left: 1mm;
        margin-right: 1mm;
    }

    body {
        text-align: center;
        font-size: 10px;
    }
    </style>
    <script type="text/javascript" src="https://erp.wisdomyy.com/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://erp.wisdomyy.com/static/js/JsBarcode.all.min.js"></script>
    <script type="text/javascript" src="https://erp.wisdomyy.com/static/js/qrcode.min.js"></script>
</head>
<body id="all" class="al">
<div style="margin:0 auto;border:0px solid #000;width:78mm">
    <h2 th:text="${billPo.typeMean} + ' ' + ${billPo.code}"></h2>
    <p id="code" style="display: none" th:text="${billPo.code}"></p>
    <svg id="svgcode"></svg>
    <div style="margin:0 auto;width: 128px">
        <div style="text-align: center;" id="qrcode"></div>
    </div>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'单据状态:' + ${billPo.statusMean}"></p>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'单据日期:' + ${billDate}"></p>
    <p th:if="${billPo.remarks} ne null" style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'备注:' + ${billPo.remarks}"></p>
    <p style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'打印时间:' + ${printDate}"></p>
    <p th:if="${billPo.fromChannelName} ne null"
       style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'出方:' + ${billPo.fromChannelName}"></p>
    <p th:if="${billPo.toChannelName} ne null"
       style="text-align: left;margin-top: 0px;margin-bottom: 0px;padding-left: 2px"
       th:text="'入方:' + ${billPo.toChannelName}"></p>
    <hr style="margin-top: 1px;margin-bottom: 1px;"/>
    <table style="width:100%">
        <thead>
        <tr>
            <th>商品编号</th>
            <th>颜色</th>
            <th>尺码</th>
            <th>单价</th>
            <th>数量</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goods : ${goodsList}">
            <td th:text="${goods.goodsCode}"></td>
            <td th:text="${goods.goodsColorName}"></td>
            <td th:text="${goods.goodsSizeName}"></td>
            <td th:text="${goods.tagPrice}"></td>
            <td th:text="${goods.quantity}"></td>
        </tr>
    </table>
    <hr style="margin-top:1px;margin-bottom:1px;"/>
    <table style="width:100%">
        <thead>
        <tr>
            <th>合计</th>
            <th th:text="'数量：' + ${totalQuantity}"></th>
            <th th:text="'金额：' + ${totalAmount}"></th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $("#svgcode").JsBarcode($("#code").html(), {
        width: 1.5,
        height: 40
    });
    new QRCode(document.getElementById("qrcode"), {
        text: $("#code").html(),
        width: 128,
        height: 128
    });
    window.print()
</script>
</body>
</html>